.top-row{
    height: 100px;
    width: 100%;
    background-color: red;
}
.top-text{
    color: white;
    text-align: center;
    font-size: xx-large;
}

.product-21{
    position: relative;
    top: 100px;
    left: 40px;

}

.product-31{
    position: relative;
    top: -345px;
    left: 400px;
}

.product-51 {
    position: relative;
    top: -325px;
    left: -400px;
}