

.top-row{
    height: 100px;
    width: 100%;
    background-color: lightpink;
}
.top-text{
    color: white;
    text-align: center;
    font-size: xx-large;
}


.product2{
    position: relative;
    top: 100px;
    left: 40px;

}