.p1{
   height: 150px; 
   width: 150px;
 position: relative;
 top: 100px;
 left: 10px;
}

.top-row{
    height: 100px;
    width: 100%;
    background-color: lightpink;
}
.top-text{
    color: white;
    text-align: center;
    font-size: xx-large;
}

.p1-text{
    position: relative;
    top: 110px;
    width: 10px;
}