.top-row{
    height: 100px;
    width: 100%;
    background-color: red;
}
.top-text{
    color: white;
    text-align: center;
    font-size: xx-large;
}

.product-11{
    position: relative;
    top: 100px;
    left: 40px;

}
.product-12{
    position: relative;
    top: -245px;
    left: 400px;
}

.product-13 {
    position: relative;
    top: -55px;
    left: 40px;
}

.product-14{
    position: relative;
    top: -400px;
left: 400px;

}