h1{
   background-color: red;
   color: white;
   
   padding-left: 8px;
   padding-right: 20px;
   padding-top: 8px;
   padding-bottom: 80px;
}

button{
    color: red;
    background-color: white;
    padding: 8px;
    border-radius: 15%;
}
label{
    color: red;
}
h2{
    text-align:center;
    text-decoration-line: underline
}
.search{
    width: max-content;
    display: flex;
    align-items: center
}


