h1{
   background-color: red;
   color: white;
}

button{
    color: red;
}
label{
    color: red;
}
h2{
    text-align:center;
    text-decoration-line: underline
}
.search{
    width: max-content;
    display: flex;
    align-items: center
}
